{
  "presets": [
    "es2015",
    "stage-0"
  ],
  "plugins": [
    "./tools/babel-plugin-inline-version",
    "transform-es3-member-expression-literals",
    "transform-es3-property-literals",
    "transform-flow-strip-types",
    "inline-version"
  ],
  "env": {
    "test": {
      "plugins": [
        "rewire"
      ]
    }
  }
}
