{
  "presets": [
    "es2015",
    "stage-0"
  ],
  "plugins": [
    "transform-es3-member-expression-literals",
    "transform-es3-property-literals",
    "transform-flow-strip-types",
    "inline-version"
  ],
  "env": {
    "lib": {
      "plugins": [
        ["transform-runtime", {
          "helpers": true,
          "polyfill": false,
          "regenerator": false
        }]
      ]
    },
    "test": {
      "plugins": [
        "rewire"
      ]
    }
  }
}
