{
  "extends": "eslint-config-jss",
  "parser": "babel-eslint",
  "rules": {
    "import/no-unresolved": 0,
    "flowtype/define-flow-type": 1
  },
  "globals": {
    "benchmark": true,
    "__VERSION__": true
  },
  "plugins": ["flowtype"]
}
