{
  "extends": ["eslint-config-jss", "prettier"],
  "parser": "babel-eslint",
  "rules": {
    "import/no-unresolved": 0,
    "flowtype/define-flow-type": 1,
    "flowtype/use-flow-type": 1
  },
  "globals": {
    "benchmark": true,
    "__VERSION__": true,
    "CSS": true
  },
  "plugins": ["flowtype"]
}
