language: node_js
node_js:
- '6'
branches:
  only:
  - master
after_success:
- bash <(curl -s https://codecov.io/bash)
script:
  - yarn check-snapshots
  - yarn format:ci
  - yarn build
  - yarn lint
  - yarn typecheck
  - yarn test
env:
  global:
    secure: IaLnA8heZU8OMLiA8REbZeF1F5uXJE5XmX7L0cmtNYtHNDs+p4ufVOOGbrfZW2fDEbDpXryT3lTNsFLPPmHT0sdwH/eNeO+VNvqcJW4kHe6UReVU6fObsdEvGbX4V8V08x7V4rbJjHgERq9e8O0DDp32ykxuu1XbUlb01NEu1Qg=
